/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 * require bootstrap/bootstrap
 * require bootstrap/bootstrap-responsive
 *= require bootstrap-devise-rails
 *= require datepicker/jquery-ui-1.8.23.custom.css

 *= require_self
*/

body {
    padding-top: 90px;
}

span.error {
    color: #B94A48;
    padding-left: 10px;
    font-size: 11px;
}

div#datepicker {
    padding-bottom: 20px;
}

.pagination li.disabled {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    border-right: 1px solid;
    border-right-color: #ddd;
    border-right-color: rgba(0, 0, 0, 0.15);
    *border-right-color: #ddd;
    border-top: 1px solid;
    border-top-color: #ddd;
    border-top-color: rgba(0, 0, 0, 0.15);
    *border-top-color: #ddd;
    border-bottom: 1px solid;
    border-bottom-color: #ddd;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    *border-bottom-color: #ddd;
    text-decoration: none;
    cursor: default;
}

.footer {
    margin-top: 10px;
    background-color: #e8e8e8;
}
.container-fluid.footer {
    margin-top: 50px;
}