// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#date_output_opt {
  margin-top: 20px;
  width: 250px;
}

#create_event {
  width: 228px;
}

th.date {
  width: 100px;
}

th.owner {
  width: 150px;
}
